<br/>
<div class="row">
  <div class="span1"></div>
  <div class="span9">
    <h2>What's trending in your organization?</h2>
    <br/> <br/> <br/>
    <%=link_to image_tag('yammer-signin.gif'), topics_path %>
    <br/> <br/> <br/> <br/> <br/> <br/>
    <table class='table'>
      <tr>
        <td><%=image_tag 'gangnam-style.jpg', height: 250, width: 380 %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%=image_tag 'cute-cat.gif' %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%=image_tag 'success-kid.jpg' %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%=image_tag 'batkid.jpg', height: 250, width: 350 %></td>
      </tr>
    </table>
  </div>
</div>
